body {
	font-family: Georgia;
	text-align: left;
	font-size: 16px;
}

.nav {
	list-style: none;

	/* We'll cover more about padding in class. But in short it's a way to add spacing between things. Here it just is saying there should be 0 space between the .nav and everything else.  */
	padding: 0;
}

/* This is a way of saying "apply these styles to any <li> tags inside of .nav" */
.nav li {
	display: inline;

	/* What do these two lines do? Try removing them or changing them and finding out. */
	padding-left: 10px;
	padding-right: 10px;
}

/* This is similar to the above. This is a way of saying "apply these styles to any links inside of .nav" */
.nav a {
	color: #1e72be;
	font-size: 20px;
	text-transform: uppercase;
}

.logo {
	width: 300px;
	height: auto; /* This line is important to have whenever you have images and you change the width. It keeps the height proportional. */
}

.info {
	width: 400px;
}

.heading {
	text-transform: uppercase;
	text-decoration: underline;
}

.subheading {
	font-style: italic;
}

.button {
	padding: 20px 40px;
	font-size: 24px;
	font-family: sans-serif;
	background-color: #1e72be;
	border: 3px solid white;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
}

/* "hover" here is what's called a selector. There are a couple different selectors, but hover is used the most. Hover lets you change how things look when you hover over them! Try it. */
.button:hover {
	background-color: white;
	color: black;
}