body {
	font-family: Arial;
	padding: 0;
	margin: 0;
}

.nav {
	text-align: center;	
}

.links {
	display: inline-block;
	width: 20%;
	font-size: 16px;
	font-weight: bold;
	padding: 25px 0;
}

.links a {
	color: #eb8144;
	text-decoration: none;
}

.top, .bottom-content {
	max-width: 1150px;
	margin: 0 auto;
}

.logo-container {
	text-align: center;	
}

.logo {
	width: 300px;
	height: auto;
}

.giant-salad {
	width: 100%;
	height: auto;
}

.heading-container {
	text-align: center;
}

.heading-container h1 {
	color: #eb8144;
	font-size: 45px;
}

.circle-image {
	width: 40%;
	display: inline-block;
	vertical-align: middle;
}

.circle-image img {
	width: 100%;
	height: auto;
	border-radius: 100%;	
}

.text {
	width: 50%;
	display: inline-block;
	margin-left: 10%;
	vertical-align: middle;
}

.text h2 {
	color: #eb8144;
}

.text p {
	line-height: 24px;
}

.text.right {
	margin-right: 10%;
	margin-left: 0;
}

.bottom {
	background-color: #eb8144;
	color: white;
}

.heading-2-container {
	text-align: center;
	padding: 85px 0;
}

.heading-2-container h1 {
	font-size: 45px;
}

.box {
	width: 33%;
	display: inline-block;
}

.box img {
	width: 100%;
	height: auto;
}



