body {
	margin: 0;
	padding: 0;
	background-color: #e9e7e8;
	padding: 0 30px;
	border-top: 5px solid #fff200;
	font-family: Arial;
}

/*
FYI - Vox Yellow is: #fff200;
*/


.link-one {
	color: white;

}

.two a {
	color: blue;
}

.daniel {
	border: 10px solid black;
}



.nav {
	text-align: center;
	padding: 10px 0;

}

.logo {

}

.logo img {
	width: 100px;
	height: auto;
}

.article {
	border: 1px solid black;
	display: inline-block;
	height: 500px;
	vertical-align: top;
	position: relative;
}

.article h1 {
	position: absolute;
	bottom: 0px;
}

.one {
	background-image: url('images/article-1.png');
	width: 25%;
	margin-right: 4%;
}

.two {
	background-image: url('images/article-2.jpg');
	width: 25%;
	margin-right: 4%;
}

.three {
	background-image: url('images/article-3.jpg');
	width: 40%;
}






@media screen and (max-width: ____) {


}
