body {
	margin: 0;
	padding: 0;
	background-color: #e9e7e8;
	padding: 0 30px;
}

.nav {
	width: 100%;
	height: 80px;
	padding: 20px 0;
	border-top: 8px solid #fff200;
	text-align: center;
}

.logo img {
	height: 80px;
	width: auto;
}



.article {
	display: inline-block;
	vertical-align: top;
	background-size: cover;
	height: 600px;
	margin-bottom: 20px;
	

	position: relative;
}

.one {
	width: 25%;
	background-image: url('images/article-1.png');
	margin-right: 2.5%;
}

.two {
	width: 25%;
	background-image: url('images/article-2.jpg');
	margin-right: 2.5%;
}

.three {
	width: 45%;
	background-image: url('images/article-3.jpg');
}

.headline {
	padding: 20px;
	position: absolute;
	bottom: 0;
}

.headline a {
	font-family: Arial;
	color: white;
	background-color: black;
	text-decoration: none;
}

.headline a:hover {
	background-color: #fff200;
	color: black;
}

@media screen and (max-width: ____) {


}
